.title {
  margin-bottom: 24px;
}

.controls {
  margin-bottom: 32px;
}

.controlsRow {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 32px;
}

.showMoreButton {
  display: block;

  width: 328px;
  height: 54px;
  margin: 0 auto;
  margin-bottom: 24px;
}
