.navBar {
  max-width: 310px;
  width: max-content;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  text-wrap: nowrap;
}

.navSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  padding: 30px 0;
  border-bottom: 1px solid #282828;
}

.link {
  cursor: pointer;
  border: none;
  text-decoration: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 16px;
  color: black;
  opacity: 0.7;
  font-size: 16px;
}

.activeLink {
  opacity: 1;
}
