.btnIcon {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.btnIcon:focus {
  outline: none;
  box-shadow: none;
}

.btnIcon:hover {
  opacity: 0.7;
}
