.wrapper {
  min-height: calc(100vh - var(--player-height));
  padding: var(--header-height) 40px 0;
  margin-top: calc(0px - var(--header-height));
  background: linear-gradient(
    180deg,
    var(--page-gradient-color, #3333a3) 0,
    var(--color-bg-secondary) 300px,
    var(--color-bg-secondary) 100%
  );
}
