.box {
  display: flex;
  gap: 21px;
}

.image {
  flex-shrink: 0;
  width: 52px;
  height: 52px;
}

.image img {
  object-fit: cover;
}

.info {
  width: 228px;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title.playing {
  color: var(--color-accent);
}

.artists {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
