.inputWrapper {
  padding-left: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: space-between;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  box-sizing: border-box;
  outline: none;
  transition: border 0.2s;
}

.inputWrapper input {
  min-width: 30px;
  border: none;
  outline: none;
  background: transparent;
  padding: 4px 6px;
}

.focus {
  border: 1px solid #3b82f6;
}

.inputWrapper input:focus {
  outline: none;
  border: none;
}

.selectedList {
  display: flex;
  overflow: hidden;
}

.item {
  border: 1px solid #fff;
  border-radius: 100px;
  background: #ecebeb;
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.removeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #ff0000;
}

.more {
  display: inline-block;
  white-space: nowrap;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 180px;
  overflow-y: auto;
  background: white;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  z-index: 10;
}

.option {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
}

.option:has(input:checked) {
  background-color: #eee;
}

.option:hover {
  background-color: #eee;
}
