.trackLyricsPage {
  --page-gradient-color: #9a3426;
  padding-block: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
}

.trackTextWrapper {
  text-align: center;
  white-space: wrap;
  padding-inline: 180px;
}

.button {
  all: unset;

  cursor: pointer;

  display: flex;
  gap: 12px;
  align-items: center;

  font-size: var(--font-size-m);
  font-weight: 700;
  color: var(--color-text-secondary);

  transition: color 0.2s ease;
}

.button:hover {
  color: var(--color-text-primary);
}

.trackText {
  font-weight: 900;
  font-size: var(--font-size-xxxxl);
  margin: 0;
}
