.layout {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.layoutContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
