.trigger {
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
}

.avatar {
  overflow: hidden;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.name {
  color: var(--color-text-primary);
}
