.box {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-bottom: 16px;
}

.playButton {
  width: 80px;
  height: 80px;
}

.menuIcon {
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.deleteItem {
  color: #eb1616;

  &:hover {
    color: #ffeaea;
  }
}
