.container {
  margin-bottom: 20px;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item {
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s ease;
  width: 240px;
}

.itemFullwidth {
  width: auto;
}
