.card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-height: 100%;
  width: 264px;

  & .image {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    transition:
      opacity 0.2s,
      transform 0.4s;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &:hover .image {
    transform: scale(1.02);
    opacity: 0.92;
  }
}

.titleWrapper {
  display: flex;
  justify-content: space-between;

  > .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.menuIcon {
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.deleteItem {
  color: var(--color-text-error);

  &:hover {
    color: var(--color-text-secondary);
  }
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
