.card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 264px;
  min-height: 100%;
}

.image {
  overflow: hidden;
  height: 153px;
  flex: 1;
  transition:
    opacity 0.2s,
    transform 0.4s;
}

.card:hover .image {
  transform: scale(1.02);
  opacity: 0.92;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
