.card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 264px;
  min-height: 100%;
}

.image {
  overflow: hidden;
  height: 153px;
  transition:
    opacity 0.2s,
    transform 0.4s;
}

.card:hover .image {
  transform: scale(1.02);
  opacity: 0.92;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}

.btnDelete {
    width: 40px;
    height: 30px;
    border-radius: 10%;
    background: rgba(241, 33, 33, 0.9);
    border: none;
    font-size: 12px;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
}