.wrapper {
  min-height: calc(100vh - var(--header-height));
  padding: 30px 40px;
  background: linear-gradient(
    180deg,
    var(--page-gradient-color, #3333a3) 0,
    var(--color-bg-secondary) 300px,
    var(--color-bg-secondary) 100%
  );
}
