:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

.link {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.link:hover {
    text-decoration: underline;
}


/* Item: PlaylistItem, TrackItem  */
.item {
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.2s ease;
    width: 345px;
}

.item--fullwidth {
    width: 100%;
}

.item:hover {
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background: #f5f5f5;
}


/* Flex container */
.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-container-column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

