.playlistRow {
  display: flex;
  gap: 20px;
  align-items: center;

  width: 100%;
  padding: 8px 16px;
}

.playlistLink {
  display: flex;
  gap: 16px;
  align-items: center;
  min-width: 400px;
}

.playlistRow:hover {
  border-radius: 4px;
  background-color: var(--color-accent);
}

.image {
  width: 52px;
  height: 52px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  overflow: hidden;
  flex-grow: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.trackCounts {
  cursor: default;
}
