.playlistOverview {
  margin-bottom: 46px;
}

.playlistToolbar {
  display: flex;
  gap: 36px;
  align-items: center;
  margin-bottom: 16px;
}

.errorMessage {
  text-align: center;
  font-size: var(--font-size-xxxl);
}
